
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.links {
  position: absolute;
  top: 10;
  right: 10;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
}
a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: arial, helvetica;
}