
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial, helvetica;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.35);
  padding: 0px;
}
p {
  float: left;
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #222;
}
.links {
  float: right;
  margin-top: 0;
  margin-right: 10;
  padding: 20px;
}
a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}
a.selected {
  opacity: 0.5;
  text-decoration: none;
  cursor: none;
}